$body-color: #39444a;
$table-color: #242e34;
$table-hover-color: #222;
$text-color: #fff;

body {
  background-color: $body-color;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 10px;
  color: $text-color;
}

.table {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;

  .table-head {
    display: table-header-group;
  }

  .table-body {
    display: table-row-group;
  }

  .table-row {
    display: table-row;
    background-color: $table-color;

  }

  .portfolio-rows {

    input[type="checkbox"] {
      cursor: pointer;
    }

    .table-row:hover {
      background-color: $table-hover-color;

      .table-cell {
        background-color: $table-hover-color;
      }
    }
  }

  .table-cell {
    display: table-cell;
    padding: 5px;
    //border: 1px solid $table-color;
    border: none;
    vertical-align: middle;
  }
}

#derive-address {
  cursor: pointer;
}

.minmax {
  float: right;
  margin-bottom: -15px;
  text-decoration: none;
  padding: 5px;
  font-size: 24px;
  color: lime;
}

.inline {
  display: inline-block;
}

.ml-10 {
  margin-left: 10px;
}

label {
  cursor: pointer;
}

.clear {
  font-size: 9px;
  color: $text-color;

  a {
    text-decoration: none;
    color: $text-color;
  }
}

img.icon {
  width: 30px;
  vertical-align: middle;
}

.sl-short, .sl-Short, .red {
  color: #f00;
}

.sl-long, .sl-Long, .green {
  color: #0f0;
}

.text-grey {
  color: #666;
}

.hide {
  display: none;
}

.px {
  width: 1px;
}